@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Indie Flower", cursive;
    font-weight: 700;
    font-style: normal;
    background-color: #b6e3f2;
}


header {
    background-color: #094d63;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ddd;
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c2e6f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#about-me {
    margin-bottom: 30px;
}


.heading-container {
    text-align: center;
}

.heading-container h1 {
    font-size: 3em;
    color: #094d63;
    margin-bottom: 10px;
}

.heading-container img {
    display: block;
    margin: 0 auto;
    margin-top: 10px; 
}


#about-me h2 {
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-weight: 700;
    font-style: normal;
}


.profile-image {
    width: 200px;
    float: right; 
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#about-me p {
    font-size: 1.1em;
    color: #094d63;
    text-align: justify;
}


#additional-images {
    text-align: center;
    display: flex; 
    justify-content: space-around; 
    margin-top: 10px;
}

.additional-image {
    width: 200px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

